In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
df = pd.read_csv('predict/X_test_batsmen_24.csv')

In [14]:
df

,batter,current_form_total_runs,current_form_fours,current_form_sixes,current_form_balls_faced,current_form_strike_rate,career_avg_total_runs,career_avg_fours,career_avg_balls_faced,career_avg_sixes,career_avg_strike_rate,opponent_strength,is_win,is_home_match
0,A Badoni,15.666667,1.000000,1.000000,7.000000,100.974026,15.454545,1.000000,7.863636,0.681818,111.528943,0.506787,False,False
1,A Badoni,9.000000,0.666667,0.333333,5.000000,49.307359,14.826087,0.956522,7.565217,0.652174,107.549424,0.428571,True,True
2,A Badoni,3.333333,0.000000,0.000000,3.000000,38.095238,14.541667,0.916667,7.541667,0.625000,106.401531,0.466667,True,False
3,A Badoni,3.000000,0.000000,0.000000,2.666667,33.333333,13.960000,0.880000,7.240000,0.600000,102.145470,0.622222,True,True
4,A Badoni,9.333333,1.000000,0.000000,5.666667,82.222222,14.192308,0.961538,7.346154,0.576923,104.627055,0.527473,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,YBK Jaiswal,31.666667,3.666667,1.000000,13.333333,158.863636,30.938776,3.795918,12.244898,1.244898,124.541422,0.428571,False,False
987,YBK Jaiswal,10.666667,1.666667,0.333333,3.666667,136.363636,30.400000,3.740000,12.020000,1.220000,124.050593,0.466667,True,False
988,YBK Jaiswal,24.333333,4.000000,0.333333,10.000000,119.696970,30.686275,3.823529,12.176471,1.196078,124.559405,0.483516,False,False
989,Yudhvir Singh,0.500000,0.000000,0.000000,0.500000,50.000000,0.500000,0.000000,0.500000,0.000000,50.000000,0.521912,False,True
990,Yudhvir Singh,2.666667,0.000000,0.333333,1.000000,66.666667,2.666667,0.000000,1.000000,0.333333,66.666667,0.527473,False,False

In [72]:
df.columns

Index(['batter', 'current_form_total_runs', 'current_form_fours',
       'current_form_sixes', 'current_form_balls_faced',
       'current_form_strike_rate', 'career_avg_total_runs', 'career_avg_fours',
       'career_avg_balls_faced', 'career_avg_sixes', 'career_avg_strike_rate',
       'opponent_strength', 'is_win', 'is_home_match'],
      dtype='object')

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [16]:
import pickle

# Specify the path to your .pkl file
file_path = 'models/batsmen_08_23.pkl'

# Load the model
with open(file_path, 'rb') as file:
    model = pickle.load(file)

# Now you can use the model for predictions or other tasks

In [17]:
!python --version

Python 3.12.5

In [18]:
import sys
print(sys.version)

3.12.5 | packaged by conda-forge | (main, Aug  8 2024, 18:24:51) [MSC v.1940 64 bit (AMD64)]

In [19]:
import sklearn
print(sklearn.__version__)

1.3.2

In [20]:
model

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['current_form_fours',
                                                   'current_form_strike_rate',
                                                   'opponent_strength',
                                                   'career_avg_strike_rate',
                                                   'career_avg_sixes',
                                                   'current_form_sixes',
                                                   'career_avg_total_runs',
                                                   'is_home_match',
                                                   'current_form_total_runs',
                                                   'is_win']),
                                                 ('cat', OneHotEncoder(),
                                                  ['batter'])])),
                ('regressor',
                 MultiOutputRegressor(estimator=RandomForestRegressor(random_state=42)))])

In [74]:
model_input = pd.read_csv('predict/streamlit_X_test_batsmen_24.csv')

In [75]:
model_input.drop('Unnamed: 0', axis =1, inplace=True)

In [76]:
model_input

,date,match_id,batter,venue,city,batting_team,winner,bowling_team,total_runs,fours,...,career_avg_sixes,career_avg_strike_rate,career_avg_balls_faced,half_century_prob,century_prob,is_win,opponent_strength,boundary_percentage,avg_boundary_percentage,is_home_match
0,2024-03-24,1422122,A Badoni,"Sawai Mansingh Stadium, Jaipur",Jaipur,Lucknow Super Giants,Rajasthan Royals,Rajasthan Royals,1,0,...,0.681818,111.528943,7.863636,0.045455,0.000000,False,0.506787,0.000000,45.000000,False
1,2024-03-30,1422129,A Badoni,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Lucknow Super Giants,Lucknow Super Giants,Punjab Kings,8,0,...,0.652174,107.549424,7.565217,0.043478,0.000000,True,0.428571,33.333333,30.000000,True
2,2024-04-02,1422133,A Badoni,"M Chinnaswamy Stadium, Bengaluru",Bengaluru,Lucknow Super Giants,Lucknow Super Giants,Royal Challengers Bengaluru,0,0,...,0.625000,106.401531,7.541667,0.041667,0.000000,True,0.466667,NaN,18.888889,False
3,2024-04-07,1422139,A Badoni,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Lucknow Super Giants,Lucknow Super Giants,Gujarat Titans,20,3,...,0.600000,102.145470,7.240000,0.040000,0.000000,True,0.622222,0.000000,16.666667,True
4,2024-04-12,1426264,A Badoni,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,55,5,...,0.576923,104.627055,7.346154,0.038462,0.000000,False,0.527473,33.333333,16.666667,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2024-05-15,1426303,YBK Jaiswal,"Barsapara Cricket Stadium, Guwahati",Guwahati,Rajasthan Royals,Punjab Kings,Punjab Kings,4,1,...,1.244898,124.541422,12.244898,0.224490,0.040816,False,0.428571,30.000000,52.380952,False
1111,2024-05-22,1426310,YBK Jaiswal,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,Rajasthan Royals,Rajasthan Royals,Royal Challengers Bengaluru,45,8,...,1.220000,124.050593,12.020000,0.220000,0.040000,True,0.466667,42.857143,35.714286,False
1112,2024-05-24,1426311,YBK Jaiswal,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,42,4,...,1.196078,124.559405,12.176471,0.215686,0.039216,False,0.483516,NaN,43.333333,False
1113,2024-05-05,1426292,Yudhvir Singh,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Lucknow Super Giants,Kolkata Knight Riders,Kolkata Knight Riders,7,0,...,0.000000,50.000000,0.500000,0.000000,0.000000,False,0.521912,NaN,50.000000,True
1114,2024-05-14,1426302,Yudhvir Singh,"Arun Jaitley Stadium, Delhi",Delhi,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,14,1,...,0.333333,66.666667,1.000000,0.000000,0.000000,False,0.527473,24.137931,50.000000,False

In [77]:
model_input.columns

Index(['date', 'match_id', 'batter', 'venue', 'city', 'batting_team', 'winner',
       'bowling_team', 'total_runs', 'fours', 'sixes', 'strike_rate',
       'balls_faced', 'half_century', 'century', 'current_form_total_runs',
       'current_form_fours', 'current_form_sixes', 'current_form_strike_rate',
       'current_form_balls_faced', 'career_avg_total_runs', 'career_avg_fours',
       'career_avg_sixes', 'career_avg_strike_rate', 'career_avg_balls_faced',
       'half_century_prob', 'century_prob', 'is_win', 'opponent_strength',
       'boundary_percentage', 'avg_boundary_percentage', 'is_home_match'],
      dtype='object')

In [78]:
opp_str = pd.read_csv('predict/opponent_strength_lookup.csv')

In [79]:
opp_str.columns = ['team', 'opponent_strength']

In [80]:
opp_str

                           team  opponent_strength
0           Chennai Super Kings           0.584636
1               Deccan Chargers           0.388037
2                Delhi Capitals           0.525268
3              Delhi Daredevils           0.420950
4                 Gujarat Lions           0.430741
5                Gujarat Titans           0.629273
6          Kochi Tuskers Kerala           0.413642
7         Kolkata Knight Riders           0.520810
8          Lucknow Super Giants           0.564522
9                Mumbai Indians           0.550173
10                Pune Warriors           0.266033
11                 Punjab Kings           0.456485
12             Rajasthan Royals           0.514887
13       Rising Pune Supergiant           0.622518
14      Rising Pune Supergiants           0.345853
15  Royal Challengers Bengaluru           0.484141
16          Sunrisers Hyderabad           0.480854

In [81]:
pd.DataFrame(model.predict(df.head(1)))

       0     1     2           3          4    5         6
0  13.43  0.55  0.45  102.282231  23.993871  0.0  0.055443

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   batter                    991 non-null    object
 1   current_form_total_runs   991 non-null    float64
 2   current_form_fours        991 non-null    float64
 3   current_form_sixes        991 non-null    float64
 4   current_form_balls_faced  991 non-null    float64
 5   current_form_strike_rate  991 non-null    float64
 6   career_avg_total_runs     991 non-null    float64
 7   career_avg_fours          991 non-null    float64
 8   career_avg_balls_faced    991 non-null    float64
 9   career_avg_sixes          991 non-null    float64
 10  career_avg_strike_rate    991 non-null    float64
 11  opponent_strength         991 non-null    float64
 12  is_win                    991 non-null    bool
 13  is_home_match             991 non-null    bool
dtypes: bool(2), float64(11), object(1)
memory usage: 95.0+ KB

In [83]:
model_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      1115 non-null   object
 1   match_id                  1115 non-null   int64
 2   batter                    1115 non-null   object
 3   venue                     1115 non-null   object
 4   city                      1115 non-null   object
 5   batting_team              1115 non-null   object
 6   winner                    1115 non-null   object
 7   bowling_team              1115 non-null   object
 8   total_runs                1115 non-null   int64
 9   fours                     1115 non-null   int64
 10  sixes                     1115 non-null   int64
 11  strike_rate               1115 non-null   float64
 12  balls_faced               1115 non-null   int64
 13  half_century              1115 non-null   int64
 14  century                   1115 non-null   int64
 15  current_form_total_runs   1115 non-null   float64
 16  current_form_fours        1115 non-null   float64
 17  current_form_sixes        1115 non-null   float64
 18  current_form_strike_rate  1115 non-null   float64
 19  current_form_balls_faced  1115 non-null   float64
 20  career_avg_total_runs     1115 non-null   float64
 21  career_avg_fours          1115 non-null   float64
 22  career_avg_sixes          1115 non-null   float64
 23  career_avg_strike_rate    1115 non-null   float64
 24  career_avg_balls_faced    1115 non-null   float64
 25  half_century_prob         1079 non-null   float64
 26  century_prob              1079 non-null   float64
 27  is_win                    1115 non-null   bool
 28  opponent_strength         1115 non-null   float64
 29  boundary_percentage       1031 non-null   float64
 30  avg_boundary_percentage   1115 non-null   float64
 31  is_home_match             1115 non-null   bool
dtypes: bool(2), float64(16), int64(7), object(7)
memory usage: 263.6+ KB

In [115]:
# Streamlit dropdowns
# selected_player = st.selectbox('Select Player', df['batter'].unique())
# selected_team = st.selectbox('Select Team', opp_str['team'].unique())

# Streamlit dropdowns
selected_player = 'V Kohli'
selected_team = 'Mumbai Indians'

# # Lookup opponent strength for the selected team
# opponent_strength = opp_str.loc[opp_str['team'] == selected_team, 'opponent_strength'].values[0]

# Filter the main DataFrame based on the selected player and opponent strength
filtered_df = model_input[(model_input['batter'] == selected_player) & (model_input['bowling_team'] == selected_team)]

filtered_df[['batter',
 'current_form_strike_rate',
 'current_form_fours',
 'opponent_strength',
 'career_avg_strike_rate',
 'career_avg_sixes',
 'avg_boundary_percentage',
 'current_form_sixes',
 'career_avg_total_runs',
 'is_home_match',
 'current_form_total_runs',
 'is_win']]

,batter,current_form_strike_rate,current_form_fours,opponent_strength,career_avg_strike_rate,career_avg_sixes,avg_boundary_percentage,current_form_sixes,career_avg_total_runs,is_home_match,current_form_total_runs,is_win
1046,V Kohli,140.862193,6.0,0.551724,112.513098,1.056277,16.666667,3.0,32.735931,False,72.666667,False

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   batter                    991 non-null    object
 1   current_form_total_runs   991 non-null    float64
 2   current_form_fours        991 non-null    float64
 3   current_form_sixes        991 non-null    float64
 4   current_form_balls_faced  991 non-null    float64
 5   current_form_strike_rate  991 non-null    float64
 6   career_avg_total_runs     991 non-null    float64
 7   career_avg_fours          991 non-null    float64
 8   career_avg_balls_faced    991 non-null    float64
 9   career_avg_sixes          991 non-null    float64
 10  career_avg_strike_rate    991 non-null    float64
 11  opponent_strength         991 non-null    float64
 12  is_win                    991 non-null    bool
 13  is_home_match             991 non-null    bool
dtypes: bool(2), float64(11), object(1)
memory usage: 95.0+ KB

In [73]:
# ['batter',
#  'current_form_strike_rate',
#  'current_form_fours',
#  'opponent_strength',
#  'career_avg_strike_rate',
#  'career_avg_sixes',
#  'avg_boundary_percentage',
#  'current_form_sixes',
#  'career_avg_total_runs',
#  'is_home_match',
#  'current_form_total_runs',
#  'is_win']

In [87]:
pd.DataFrame(model.predict(filtered_df[['batter',
 'current_form_strike_rate',
 'current_form_fours',
 'opponent_strength',
 'career_avg_strike_rate',
 'career_avg_sixes',
 'avg_boundary_percentage',
 'current_form_sixes',
 'career_avg_total_runs',
 'is_home_match',
 'current_form_total_runs',
 'is_win']]))

       0     1     2           3          4         5         6
0  29.66  2.59  2.04  101.858324  28.168110  0.016030  0.255270
1  22.76  1.96  1.07  100.441132  19.198168  0.018572  0.253688

In [93]:
model_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      1115 non-null   object
 1   match_id                  1115 non-null   int64
 2   batter                    1115 non-null   object
 3   venue                     1115 non-null   object
 4   city                      1115 non-null   object
 5   batting_team              1115 non-null   object
 6   winner                    1115 non-null   object
 7   bowling_team              1115 non-null   object
 8   total_runs                1115 non-null   int64
 9   fours                     1115 non-null   int64
 10  sixes                     1115 non-null   int64
 11  strike_rate               1115 non-null   float64
 12  balls_faced               1115 non-null   int64
 13  half_century              1115 non-null   int64
 14  century                   1115 non-null   int64
 15  current_form_total_runs   1115 non-null   float64
 16  current_form_fours        1115 non-null   float64
 17  current_form_sixes        1115 non-null   float64
 18  current_form_strike_rate  1115 non-null   float64
 19  current_form_balls_faced  1115 non-null   float64
 20  career_avg_total_runs     1115 non-null   float64
 21  career_avg_fours          1115 non-null   float64
 22  career_avg_sixes          1115 non-null   float64
 23  career_avg_strike_rate    1115 non-null   float64
 24  career_avg_balls_faced    1115 non-null   float64
 25  half_century_prob         1079 non-null   float64
 26  century_prob              1079 non-null   float64
 27  is_win                    1115 non-null   bool
 28  opponent_strength         1115 non-null   float64
 29  boundary_percentage       1031 non-null   float64
 30  avg_boundary_percentage   1115 non-null   float64
 31  is_home_match             1115 non-null   bool
dtypes: bool(2), float64(16), int64(7), object(7)
memory usage: 263.6+ KB

In [108]:
import pandas as pd
import numpy as np

# Assuming your DataFrame is called model_input

# Step 1: Select the relevant columns
selected_columns = ['batter', 'current_form_strike_rate', 'current_form_fours', 'opponent_strength', 
                    'career_avg_strike_rate', 'career_avg_sixes', 'avg_boundary_percentage', 
                    'current_form_sixes', 'career_avg_total_runs', 'is_home_match', 
                    'current_form_total_runs', 'is_win']

df = filtered_df[selected_columns]

# Step 2: Group by 'is_home_match' and 'is_win', and average numeric columns
# You can use agg to average numeric columns, skipping the 'batter' column.
grouped = df.groupby(['is_home_match', 'is_win']).agg({
    'current_form_strike_rate': 'mean',
    'current_form_fours': 'mean',
    'opponent_strength': 'mean',
    'career_avg_strike_rate': 'mean',
    'career_avg_sixes': 'mean',
    'avg_boundary_percentage': 'mean',
    'current_form_sixes': 'mean',
    'career_avg_total_runs': 'mean',
    'current_form_total_runs': 'mean'
}).reset_index()

# Step 3: Create all possible combinations of 'is_home_match' and 'is_win'
combinations = pd.DataFrame({
    'is_home_match': [True, True, False, False],
    'is_win': [True, False, True, False]
})

# Step 4: Merge the grouped DataFrame with the combinations to ensure all (TT, TF, FT, FF) exist
final_df = pd.merge(combinations, grouped, on=['is_home_match', 'is_win'], how='left')

# Step 5: Fill missing values with the mean for each numeric column
final_df = final_df.apply(lambda col: col.fillna(col.mean()) if col.dtype in ['float64', 'int64'] else col)

# Step 6: Add back the 'batter' column with some representative value (if necessary)
# You might want to insert the batter name back, e.g., first batter name
final_df['batter'] = df['batter'].iloc[0]

# Display the final DataFrame
print(final_df)

   is_home_match  is_win  current_form_strike_rate  current_form_fours  \
0           True    True                136.343795            3.500000
1           True   False                105.862193            4.666667
2          False    True                166.825397            2.333333
3          False   False                136.343795            3.500000

   opponent_strength  career_avg_strike_rate  career_avg_sixes  \
0           0.483516              112.690607          1.055777
1           0.483516              112.171806          1.051724
2           0.483516              113.209409          1.059829
3           0.483516              112.690607          1.055777

   avg_boundary_percentage  current_form_sixes  career_avg_total_runs  \
0                15.000000            1.500000              32.596614
1                16.666667            1.666667              32.607759
2                13.333333            1.333333              32.585470
3                15.000000            1.500000              32.596614

   current_form_total_runs   batter
0                     33.5  V Kohli
1                     46.0  V Kohli
2                     21.0  V Kohli
3                     33.5  V Kohli

In [109]:
final_df

,is_home_match,is_win,current_form_strike_rate,current_form_fours,opponent_strength,career_avg_strike_rate,career_avg_sixes,avg_boundary_percentage,current_form_sixes,career_avg_total_runs,current_form_total_runs,batter
0,True,True,136.343795,3.500000,0.483516,112.690607,1.055777,15.000000,1.500000,32.596614,33.5,V Kohli
1,True,False,105.862193,4.666667,0.483516,112.171806,1.051724,16.666667,1.666667,32.607759,46.0,V Kohli
2,False,True,166.825397,2.333333,0.483516,113.209409,1.059829,13.333333,1.333333,32.585470,21.0,V Kohli
3,False,False,136.343795,3.500000,0.483516,112.690607,1.055777,15.000000,1.500000,32.596614,33.5,V Kohli

In [120]:
final_df[['batter',
 'current_form_strike_rate',
 'current_form_fours',
 'opponent_strength',
 'career_avg_strike_rate',
 'career_avg_sixes',
 'avg_boundary_percentage',
 'current_form_sixes',
 'career_avg_total_runs',
 'is_home_match',
 'current_form_total_runs',
 'is_win']]

,batter,current_form_strike_rate,current_form_fours,opponent_strength,career_avg_strike_rate,career_avg_sixes,avg_boundary_percentage,current_form_sixes,career_avg_total_runs,is_home_match,current_form_total_runs,is_win
0,V Kohli,136.343795,3.500000,0.483516,112.690607,1.055777,15.000000,1.500000,32.596614,True,33.5,True
1,V Kohli,105.862193,4.666667,0.483516,112.171806,1.051724,16.666667,1.666667,32.607759,True,46.0,False
2,V Kohli,166.825397,2.333333,0.483516,113.209409,1.059829,13.333333,1.333333,32.585470,False,21.0,True
3,V Kohli,136.343795,3.500000,0.483516,112.690607,1.055777,15.000000,1.500000,32.596614,False,33.5,False

In [121]:
op = pd.DataFrame(model.predict(final_df[['batter',
 'current_form_strike_rate',
 'current_form_fours',
 'opponent_strength',
 'career_avg_strike_rate',
 'career_avg_sixes',
 'avg_boundary_percentage',
 'current_form_sixes',
 'career_avg_total_runs',
 'is_home_match',
 'current_form_total_runs',
 'is_win']]))

In [122]:
op.columns = ['total_runs', 'fours', 'sixes', 'strike_rate', 'boundary_percentage','century_prob', 'half_century_prob']

In [123]:
op

,total_runs,fours,sixes,strike_rate,boundary_percentage,century_prob,half_century_prob
0,27.71,2.82,0.75,111.097549,27.695145,0.015804,0.250624
1,27.34,2.88,0.78,108.663064,23.247047,0.013449,0.251300
2,25.40,1.69,1.28,123.989842,26.261915,0.022374,0.249678
3,22.89,2.44,0.65,103.016725,30.642441,0.015800,0.250452

In [124]:
op.columns

Index(['total_runs', 'fours', 'sixes', 'strike_rate', 'boundary_percentage',
       'century_prob', 'half_century_prob'],
      dtype='object')